<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

  {{!-- Document Settings --}}
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="HandheldFriendly" content="True"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  {{!-- Styles'n'Scripts --}}
  <link rel="stylesheet" type="text/css" href="{{asset "dist/app.css"}}"/>
  <script defer src="{{asset "dist/app.js"}}"></script>
  <script id="highlight-script" data-src="{{asset "dist/highlighter.js"}}"></script>

  {{!-- This tag outputs SEO meta+structured data and other important settings --}}
  {{ghost_head}}

</head>
<body class="{{body_class}}">

{{> "header"}}

<main class="main">
  <div class="container">
    {{{body}}}
  </div>
</main>


{{> "social"}}

{{> "footer"}}

{{{block "scripts"}}}
{{ghost_foot}}

</body>
</html>
