{{!< default}}

{{#post}}

  <article class="{{post_class}}">

    <header class="post__header">
      <h1 class="post__title">{{title}}</h1>

      <section class="post__meta">
        <time class="post__date" datetime="{{date format='YYYY-MM-DD'}}">
          {{date format="DD MMMM YYYY"}}
        </time>
        <div class="post__tags">
          {{#foreach tags}}
            <a href="{{url}}" class="post-tag">{{name}}</a>
          {{/foreach}}
        </div>
      </section>
    </header>

    <section class="post__content">
      {{content}}
    </section>

  </article>

{{/post}}
