{{!< default}}

{{#post}}

  <article class="{{post_class}}">

    <header class="post__header">
      <h1 class="post__title">{{title}}</h1>
      <section class="post__meta">
        <time class="post__date" datetime="{{date format='YYYY-MM-DD'}}">
          {{date format="DD MMMM YYYY"}}
        </time>
        {{> "post-tags"}}
      </section>
    </header>

    <section class="post__content">
      {{content}}
    </section>

  </article>

{{/post}}
