<header class="header">
  <div class="container">

    <nav class="header__nav">
      {{^is "home"}}
        {{#if @site.logo}}
          <a class="site-nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"/></a>
        {{else}}
          <a class="site-nav-logo" href="{{@site.url}}">{{@site.title}}</a>
        {{/if}}
      {{/is}}

      {{#if @site.navigation}}
        {{navigation}}
      {{/if}}
    </nav>

    <nav class="header__nav header__nav--right">
      <a class="rss-button" href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank"
          rel="noopener">
        <i class="fal fa-rss"></i>
      </a>
    </nav>

  </div>
</header>
