<header class="header block">
  <div class="container">

    <nav class="header__nav">
      {{#if @site.logo}}
        <a class="header__nav-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"/></a>
      {{else}}
        <a class="header__nav-item" href="{{@site.url}}">{{@site.title}}</a>
      {{/if}}

      {{#if @site.navigation}}
        {{navigation}}
      {{/if}}

      {{#post}}
        {{#has tag="de"}}
          <a href="/en" class="header__nav-item header__nav-item--right">EN</a>
        {{else}}
          <a href="/de" class="header__nav-item header__nav-item--right">DE</a>
        {{/has}}
      {{else}}
        <a href="/de" class="header__nav-item header__nav-item--right">DE</a>
      {{/post}}

    </nav>

  </div>
</header>
