<article class="feed__post">
  <header class="feed__post-header">
    <a href="{{url}}">
      <h2 class="h3">{{title}}</h2>
    </a>
  </header>

  <aside class="feed__post-meta">
    {{#primary_tag}}
      <a href="{{url}}" class="post-tag">{{name}}</a>
    {{/primary_tag}}
    <span class="feed__post-read-time">
      <small>{{reading_time}}</small>
    </span>
  </aside>

  <section class="feed__post-excerpt">
    <p>{{excerpt words="35"}}</p>
  </section>

</article>
